html,
body {
  height: 100%;
  line-height: 1.3;
  background-color: $white-bg;
  margin: 0;
  font-family: "SevenOneEight", "Helvetica Neue", sans-serif;
}

// Title styling
h1 {
  color: $red-color;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 1.7rem;
}

.subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
}

// General Styling
hr {
  width: 200px;
  border-top: $grey-color solid 6px;
}

.separator {
  &-sm {
    border-top: $grey-color solid 3px;
    width: 100px;
  }
  &-red {
    border: $red-color solid 2px;
    margin: 10px auto;
    margin-bottom: 0;
  }
}

// Helpers classes
.text-red {
  color: $red-color;
}
