<section class="ctaSection container">
  <div class="row mb-3">
    <div class="col text-uppercase text-center">
      Comment bénéficier de l'offre ? <br />
      <b>1500€ de réduction* dès 1000€ d'achat</b>
      <hr class="separator separator-sm" />
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <a
        href="#"
        class="btn btn-primary btn-lg btn-block btn-animate rounded-0 p-4"
        ><b>Déjà membre ?</b><br />
        <small
          >Votre code promo vous attend directement sur le site
          <u>en cliquant ici</u></small
        ></a
      >
    </div>
  </div>
</section>
<section class="stepSection container">
  <div class="row stepSection-steps justify-content-center mb-3">
    <div class="stepBloc">
      <div class="stepBloc-nb">1</div>
      <div class="stepBloc-description">
        Rejoignez <br />
        <b class="text-red">Emirates the list</b>
      </div>
    </div>
    <div class="stepBloc">
      <div class="stepBloc-nb">2</div>
      <div class="stepBloc-description">
        Recevez par email <br />
        <b class="text-red">Votre bon de 150€ offert</b><br />
        à utiliser dès 1000€ d'achat
      </div>
    </div>
    <div class="stepBloc">
      <div class="stepBloc-nb">3</div>
      <div class="stepBloc-description">
        Réservez votre séjour <br />
        <b class="text-red">Avant le 30 avril 2019</b>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 text-center">
      <a
        href="#"
        class="btn btn-primary btn-animate text-uppercase rounded-0 px-5"
        >Je m'inscris</a
      >
    </div>
  </div>
</section>
