<section class="container mt-3">
  <div class="row mb-3">
    <div class="col text-center">
      <h1>Découvrez les offres du moment</h1>
      <span class="subtitle">Vol + Hôtel jusqu'à -70%</span>
      <hr class="separator" />
    </div>
  </div>
  <div class="row mb-3 text-center">
    <div class="col">
      <div class="filter input-group border-0 mb-3 border-radius-0">
        <div class="input-group-prepend border-0">
          <span class="input-group-text border-0" id="basic-addon1"
            ><img src="../../assets/filter.svg" width="25" height="25"
          /></span>
        </div>
        <select
          class="custom-select border-0"
          id="inputGroupSelect01"
          [(ngModel)]="search"
        >
          <option selected value="ALL">DESTINATIONS</option>
          <option *ngFor="let country of countries" [value]="country">{{
            country
          }}</option>
        </select>
        <div class="input-group-append">
          <label class="input-group-text border-0" for="inputGroupSelect02"
            ><img src="../../assets/arrow-down.svg" width="22" height="22"
          /></label>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="destinationsSection container">
  <div class="row mb-3">
    <ng-container *ngFor="let destination of destinations">
      <div
        *ngIf="search === 'ALL' || search === destination.country"
        class="col-12 col-md-6 col-lg-4 mb-3"
        [@enterAnimation]
      >
        <app-destination [destination]="destination"></app-destination>
      </div>
    </ng-container>
  </div>
</section>

<section class="ctaSection container">
  <div class="row mb-3">
    <div class="col text-uppercase text-center">
      Comment bénéficier de l'offre ? <br />
      <b>1500€ de réduction* dès 1000€ d'achat</b>
      <hr class="separator separator-sm" />
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <a
        href="#"
        class="btn btn-primary btn-lg btn-block btn-animate rounded-0 p-4"
        ><b>Déjà membre ?</b><br />
        <small
          >Votre code promo vous attend directement sur le site
          <u>en cliquant ici</u></small
        ></a
      >
    </div>
  </div>
</section>
<section class="stepSection container">
  <div class="row stepSection-steps justify-content-center mb-3">
    <div class="stepBloc">
      <div class="stepBloc-nb">1</div>
      <div class="stepBloc-description">
        Rejoignez <br />
        <b class="text-red">Emirates the list</b>
      </div>
    </div>
    <div class="stepBloc">
      <div class="stepBloc-nb">2</div>
      <div class="stepBloc-description">
        Recevez par email <br />
        <b class="text-red">Votre bon de 150€ offert</b><br />
        à utiliser dès 1000€ d'achat
      </div>
    </div>
    <div class="stepBloc">
      <div class="stepBloc-nb">3</div>
      <div class="stepBloc-description">
        Réservez votre séjour <br />
        <b class="text-red">Avant le 30 avril 2019</b>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 text-center">
      <a
        href="#"
        class="btn btn-primary btn-animate text-uppercase rounded-0 px-5"
        >Je m'inscris</a
      >
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-content">
          Rejoignez <b>EMIRATES | THE LIST</b> <br />
          Vol + Hôtel négociés jusqu'à -70%
          <hr class="separator separator-red" />
        </div>
      </div>
    </div>
  </div>
</footer>
